---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Arkham/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1391353067'
      Etag:
      - "\"22eb56f37c8d15f117c6fc74cecf1156\""
      X-Github-Media-Type:
      - github.beta
      Link:
      - "<https://api.github.com/user/62895/repos?page=2>; rel=\"next\", <https://api.github.com/user/62895/repos?page=2>;
        rel=\"last\""
    body:
      encoding: UTF-8
      string: "[{\"id\":12642385,\"name\":\"activeadmin-wysihtml5\",\"full_name\":\"Arkham/activeadmin-wysihtml5\",\"owner\":{\"login\":\"Arkham\",\"id\":62895,\"avatar_url\":\"https://gravatar.com/avatar/2616850dcd28fd3cffbcb11c161ba7cc?d=https%3A%2F%2Fidenticons.github.com%2F81b5ba8ec0aca68eef2c656f72dcb76e.png&r=x\",\"gravatar_id\":\"2616850dcd28fd3cffbcb11c161ba7cc\",\"url\":\"https://api.github.com/users/Arkham\",\"html_url\":\"https://github.com/Arkham\",\"followers_url\":\"https://api.github.com/users/Arkham/followers\",\"following_url\":\"https://api.github.com/users/Arkham/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Arkham/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Arkham/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Arkham/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Arkham/orgs\",\"repos_url\":\"https://api.github.com/users/Arkham/repos\",\"events_url\":\"https://api.github.com/users/Arkham/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Arkham/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/Arkham/activeadmin-wysihtml5\",\"description\":\"\",\"fork\":true,\"url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5\",\"forks_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/forks\",\"keys_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/teams\",\"hooks_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/hooks\",\"issue_events_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/events\",\"assignees_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/tags\",\"blobs_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/languages\",\"stargazers_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/stargazers\",\"contributors_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/contributors\",\"subscribers_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/subscribers\",\"subscription_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/subscription\",\"commits_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/merges\",\"archive_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/downloads\",\"issues_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/Arkham/activeadmin-wysihtml5/releases{/id}\",\"created_at\":\"2013-09-06T11:20:47Z\",\"updated_at\":\"2014-01-20T20:36:34Z\",\"pushed_at\":\"2013-09-24T09:03:18Z\",\"git_url\":\"git://github.com/Arkham/activeadmin-wysihtml5.git\",\"ssh_url\":\"git@github.com:Arkham/activeadmin-wysihtml5.git\",\"clone_url\":\"https://github.com/Arkham/activeadmin-wysihtml5.git\",\"svn_url\":\"https://github.com/Arkham/activeadmin-wysihtml5\",\"homepage\":null,\"size\":378,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Ruby\",\"has_issues\":false,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"master_branch\":\"master\"},{\"id\":14741251,\"name\":\"angularjs-examples\",\"full_name\":\"Arkham/angularjs-examples\",\"owner\":{\"login\":\"Arkham\",\"id\":62895,\"avatar_url\":\"https://gravatar.com/avatar/2616850dcd28fd3cffbcb11c161ba7cc?d=https%3A%2F%2Fidenticons.github.com%2F81b5ba8ec0aca68eef2c656f72dcb76e.png&r=x\",\"gravatar_id\":\"2616850dcd28fd3cffbcb11c161ba7cc\",\"url\":\"https://api.github.com/users/Arkham\",\"html_url\":\"https://github.com/Arkham\",\"followers_url\":\"https://api.github.com/us[...]
[...]
